<?xml version='1.0' encoding='windows-1252'?>
<!--
  Rustipedia Windows Installer Configuration
  
  Features:
  - Installs binaries to Program Files
  - Creates persistent data directories in ProgramData
  - Configures Windows service with correct arguments
  - Auto-starts service after installation (optional)
  - Migrates data from old installations
  - Preserves data across upgrades and uninstalls
-->

<?if $(var.Platform) = x64 ?>
    <?define Win64 = "yes" ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?else ?>
  <?define Win64 = "no" ?>
  <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?endif ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

    <Product
        Id='*'
        Name='Rustipedia'
        UpgradeCode='C80572F3-4EA9-4122-A69F-4C9A20110123'
        Manufacturer='Rustipedia Contributors'
        Language='1033'
        Codepage='1252'
        Version='$(var.Version)'>

        <Package Id='*'
            Keywords='Installer'
            Description='Rustipedia: Local Wikipedia Server'
            Manufacturer='Rustipedia Contributors'
            InstallerVersion='450'
            Languages='1033'
            Compressed='yes'
            InstallScope='perMachine'
            SummaryCodepage='1252'
            Platform='$(var.Platform)'/>

        <!-- Enable upgrade/repair/remove functionality -->
        <MajorUpgrade
            Schedule='afterInstallInitialize'
            AllowSameVersionUpgrades='yes'
            DowngradeErrorMessage='A newer version of [ProductName] is already installed. Setup will now exit.'/>

        <Media Id='1' Cabinet='media1.cab' EmbedCab='yes' DiskPrompt='CD-ROM #1'/>
        <Property Id='DiskPrompt' Value='Rustipedia Installation [1]'/>

        <!-- Set default Wikipedia data directory to ProgramData -->
        <Property Id="WIKIPEDIADATADIR" Value="[CommonAppDataFolder]Rustipedia\wikipedia"/>
        
        <!-- Auto-start service checkbox - enabled by default -->
        <Property Id="AUTOSTART_SERVICE" Value="1"/>
        
        <!-- Detect existing data in old Program Files location -->
        <Property Id="OLDDATAEXISTS">
            <DirectorySearch Id="FindOldData" Path="[ProgramFilesFolder]Rustipedia\wikipedia">
                <FileSearch Name="articles.jsonl"/>
            </DirectorySearch>
        </Property>

        <Directory Id='TARGETDIR' Name='SourceDir'>
            <!-- Application binaries in Program Files -->
            <Directory Id='$(var.PlatformProgramFilesFolder)' Name='PFiles'>
                <Directory Id='APPLICATIONFOLDER' Name='Rustipedia'>
                    
                    <!-- Main server binary with service configuration -->
                    <Component Id='binary0' Guid='*' Win64='$(var.Win64)'>
                        <File
                            Id='exe0'
                            Name='rustipedia-serve.exe'
                            DiskId='1'
                            Source='target\release\rustipedia-serve.exe'
                            KeyPath='yes'/>
                        <!-- Windows Service - Auto start, Port 3000, ProgramData location -->
                        <ServiceInstall
                            Id="ServiceInstaller"
                            Type="ownProcess"
                            Name="rustipedia-serve"
                            DisplayName="Rustipedia Local Wikipedia Server"
                            Description="Hosts your local Wikipedia mirror. Access at http://localhost:3000"
                            Start="auto"
                            Account="LocalSystem"
                            ErrorControl="normal"
                            Arguments="--data &quot;[WIKIPEDIADATADIR]&quot; --port 3000"/>
                        <!-- Stop service on upgrade/uninstall, remove on uninstall -->
                        <ServiceControl Id="ServiceControlStop" Stop="both" Remove="uninstall" Name="rustipedia-serve" Wait="yes"/>
                    </Component>
                    
                    <!-- Download tool -->
                    <Component Id='binary1' Guid='*' Win64='$(var.Win64)'>
                        <File
                            Id='exe1'
                            Name='rustipedia-download.exe'
                            DiskId='1'
                            Source='target\release\rustipedia-download.exe'
                            KeyPath='yes'/>
                    </Component>
                    
                    <!-- Setup wizard -->
                    <Component Id='binary2' Guid='*' Win64='$(var.Win64)'>
                        <File
                            Id='exe2'
                            Name='rustipedia-setup.exe'
                            DiskId='1'
                            Source='target\release\rustipedia-setup.exe'
                            KeyPath='yes'/>
                    </Component>
                    
                    <!-- Link validator -->
                    <Component Id='binary3' Guid='*' Win64='$(var.Win64)'>
                        <File
                            Id='exe3'
                            Name='rustipedia-link-validator.exe'
                            DiskId='1'
                            Source='target\release\rustipedia-link-validator.exe'
                            KeyPath='yes'/>
                    </Component>

                    <!-- Add to system PATH -->
                    <Component Id='Path' Guid='74100918-6576-4702-8610-185011012345' KeyPath='yes' Win64='$(var.Win64)'>
                        <Environment
                            Id='PATH'
                            Name='PATH'
                            Value='[APPLICATIONFOLDER]'
                            Permanent='no'
                            Part='last'
                            Action='set'
                            System='yes'/>
                    </Component>
                </Directory>
            </Directory>
            
            <!-- ProgramData folder for persistent Wikipedia data -->
            <Directory Id="CommonAppDataFolder">
                <Directory Id="ManufacturerFolder" Name="Rustipedia">
                    <!-- Wikipedia data folder - PERMANENT (survives uninstall/upgrade) -->
                    <Directory Id="WIKIPEDIADATAFOLDER" Name="wikipedia">
                        <Component Id="WikipediaDataFolder" Guid="9F8C7A3E-1234-4567-89AB-CDEF01234567" Permanent="yes" NeverOverwrite="yes">
                            <CreateFolder/>
                        </Component>
                    </Directory>
                    <!-- Config folder - PERMANENT -->
                    <Directory Id="CONFIGFOLDER" Name="config">
                        <Component Id="ConfigFolder" Guid="8E7D6A2F-2345-5678-9ABC-DEF012345678" Permanent="yes" NeverOverwrite="yes">
                            <CreateFolder/>
                        </Component>
                    </Directory>
                    <!-- Logs folder -->
                    <Directory Id="LOGSFOLDER" Name="logs">
                        <Component Id="LogsFolder" Guid="7D6C5B1E-3456-6789-ABCD-EF0123456789" Permanent="yes">
                            <CreateFolder/>
                        </Component>
                    </Directory>
                    <!-- Registry entries to track installation -->
                    <Component Id="RegistryEntries" Guid="6C5B4A0D-4567-789A-BCDE-F01234567890">
                        <RegistryKey Root="HKLM" Key="Software\Rustipedia">
                            <RegistryValue Name="DataDirectory" Type="string" Value="[WIKIPEDIADATADIR]" KeyPath="yes"/>
                            <RegistryValue Name="ConfigDirectory" Type="string" Value="[CONFIGFOLDER]"/>
                            <RegistryValue Name="InstallLocation" Type="string" Value="[APPLICATIONFOLDER]"/>
                            <RegistryValue Name="Version" Type="string" Value="$(var.Version)"/>
                            <RegistryValue Name="Port" Type="string" Value="3000"/>
                        </RegistryKey>
                    </Component>
                </Directory>
            </Directory>
            
            <!-- Start Menu shortcuts -->
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="Rustipedia"/>
            </Directory>
        </Directory>

        <!-- Start Menu shortcuts -->
        <DirectoryRef Id="ApplicationProgramsFolder">
            <Component Id="ApplicationShortcut" Guid="*">
                <Shortcut Id="ApplicationStartMenuShortcut" 
                          Name="Rustipedia Setup" 
                          Description="Configure Rustipedia"
                          Target="[#exe2]"
                          WorkingDirectory="APPLICATIONFOLDER"/>
                <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall"/>
                <RegistryValue Root="HKCU" Key="Software\Rustipedia\Rustipedia" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
            </Component>
        </DirectoryRef>

        <!-- Custom action: Migrate data from old location -->
        <CustomAction Id="MigrateData" 
                      Directory="APPLICATIONFOLDER"
                      ExeCommand="cmd.exe /c &quot;if exist &quot;[ProgramFilesFolder]Rustipedia\wikipedia\articles.jsonl&quot; (if not exist &quot;[CommonAppDataFolder]Rustipedia\wikipedia\articles.jsonl&quot; (copy /Y &quot;[ProgramFilesFolder]Rustipedia\wikipedia\articles.jsonl&quot; &quot;[CommonAppDataFolder]Rustipedia\wikipedia\&quot; &amp;&amp; xcopy /E /I /Y &quot;[ProgramFilesFolder]Rustipedia\wikipedia\search_index&quot; &quot;[CommonAppDataFolder]Rustipedia\wikipedia\search_index&quot;))&quot;"
                      Execute="deferred"
                      Impersonate="no"
                      Return="ignore"/>
        
        <!-- Custom action: Start service after installation -->
        <CustomAction Id="StartService"
                      Directory="APPLICATIONFOLDER"
                      ExeCommand="cmd.exe /c &quot;net start rustipedia-serve&quot;"
                      Execute="deferred"
                      Impersonate="no"
                      Return="ignore"/>
        
        <!-- Schedule custom actions -->
        <InstallExecuteSequence>
            <Custom Action="MigrateData" After="InstallFiles">NOT Installed</Custom>
            <Custom Action="StartService" After="InstallServices">AUTOSTART_SERVICE AND NOT Installed</Custom>
        </InstallExecuteSequence>

        <!-- Main feature -->
        <Feature
            Id='Binaries'
            Title='Rustipedia Application'
            Description='Installs the Rustipedia local Wikipedia server.'
            Level='1'
            ConfigurableDirectory='APPLICATIONFOLDER'
            AllowAdvertise='no'
            Display='expand'
            Absent='disallow'>
            
            <ComponentRef Id='binary0'/>
            <ComponentRef Id='binary1'/>
            <ComponentRef Id='binary2'/>
            <ComponentRef Id='binary3'/>
            <ComponentRef Id='Path'/>
            <ComponentRef Id='ApplicationShortcut'/>
            <ComponentRef Id='WikipediaDataFolder'/>
            <ComponentRef Id='ConfigFolder'/>
            <ComponentRef Id='LogsFolder'/>
            <ComponentRef Id='RegistryEntries'/>
        </Feature>

        <SetProperty Id='ARPINSTALLLOCATION' Value='[APPLICATIONFOLDER]' After='CostFinalize'/>
        <Property Id='ARPHELPLINK' Value='https://github.com/ChiefBoyardee/rustipedia'/>
        
        <!-- UI Configuration -->
        <UI>
            <UIRef Id='WixUI_FeatureTree'/>
            
            <!-- Show auto-start checkbox on exit dialog -->
            <Publish Dialog='ExitDialog'
                Control='Finish' 
                Event='DoAction' 
                Value='LaunchApplication'>WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
        </UI>
        
        <Property Id='WIXUI_INSTALLDIR' Value='APPLICATIONFOLDER'/>
        <Property Id='WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT' Value='Start Rustipedia service now' />
        <Property Id='WIXUI_EXITDIALOGOPTIONALCHECKBOX' Value='1' />

        <!-- MIT License for EULA dialog -->
        <WixVariable Id="WixUILicenseRtf" Value="wix\License.rtf" />

        <!-- Launch setup wizard after install -->
        <Property Id='WixShellExecTarget' Value='[#exe2]' />
        <CustomAction Id='LaunchApplication' BinaryKey='WixCA' DllEntry='WixShellExec' Impersonate='yes' />

    </Product>

</Wix>
